Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

feat: add sitemap generation
  app/sitemap-images.xml/route.ts
  app/sitemap.ts
Labels: none

feat: add category chips and MiniSearch filtering
  assets/js/search.js
  search.html
  styles.css
Labels: site

Enable fuzzy prefix search
  assets/js/search.js
  search.html
Labels: site

chore: add next-sitemap config
  build.js
  next-sitemap.config.js
  package-lock.json
  package.json
Labels: site

feat: add OG card route handler
  og-card.js
  og-card.test.js
  og-image-meta.test.js
  package.json
Labels: none

Consolidate footer into single element
  index.html
Labels: site, a11y

fix: cache updated terms file
  sw.js
Labels: site

feat: read terms from json or yaml
  build.js
Labels: site

Add duplicate term check script
  check-duplicates.js
  package.json
  terms.json
Labels: content

chore: move build script to scripts directory
  scripts/build.js
Labels: none

chore: add repository agent guide
  AGENTS.md
Labels: none

Add PR checks workflow
  .github/workflows/pr.yml
  package.json
Labels: none

build: add mdx search index builder
  assets/js/search.js
  package-lock.json
  package.json
  public/search-index.json
  scripts/build-search-index.ts
Labels: none

chore: lock added dependencies
  package.json
  pnpm-lock.yaml
Labels: none

feat: add content API for terms
  lib/content/api.ts
Labels: none

Add SQL Injection term entry
  content/terms/sql-injection.mdx
Labels: none

feat: add search runtime module
  lib/search/runtime.ts
Labels: none

feat: add search page and term card
  app/search/page.tsx
  components/search/TermCard.tsx
Labels: none

feat: add search bar component
  app/page.tsx
  components/search/SearchBar.tsx
Labels: none

feat: add accessible combobox component
  components/search/Combobox.tsx
Labels: none

feat: add A-Z index for terms
  app/a-z/page.tsx
  components/search/AZIndex.tsx
Labels: none

feat: add related terms component
  components/term/RelatedTerms.tsx
Labels: none

feat: specify nodejs runtime for chat route
  app/api/chat/route.ts
Labels: none

feat: stream chat responses
  app/api/chat/route.ts
Labels: none

feat: add AI prompt templates
  lib/ai/prompt-templates.ts
Labels: none

feat: add AI context generator
  lib/ai/context.ts
Labels: none

feat: add pnpm lockfile
  package.json
  pnpm-lock.yaml
Labels: none

Add settings page with theme and layout toggles
  app/settings/page.tsx
Labels: none

feat: add term mappings component
  components/term/Mappings.tsx
Labels: none

feat: add localStorage prefs helper
  lib/ui/prefs.js
  lib/ui/prefs.ts
  package.json
  prefs.test.js
Labels: none

Add combobox accessibility tests
  __tests__/a11y/combobox.spec.ts
Labels: none

feat: trap focus within dialog component
  components/ui/Dialog.tsx
Labels: none

Format phishing term entry
  content/terms/phishing.mdx
Labels: none

feat: add MDX image component
  components/content/MdxImage.tsx
Labels: none

feat: add sitemap generator
  app/sitemap.ts
Labels: none

Add defense-in-depth term
  content/terms/defense-in-depth.mdx
Labels: none

feat: add not found page
  app/not-found.tsx
Labels: none

feat: validate terms for required fields
  package-lock.json
  package.json
  scripts/validate-terms.ts
Labels: none

feat: add share button component
  components/term/ShareButton.tsx
Labels: none

feat: add random term button component
  components/search/RandomTerm.tsx
Labels: none

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'
