Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Add PII scan and CI gate
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  pii-scan.js
Labels: none

Add recommended resources page with affiliate disclosures
  index.html
  templates/resources.html
Labels: site, a11y

Add incident logging and footer links
  diagnostics.html
  docs/incidents.md
  index.html
  layout.html
  log-incident.js
  package.json
  search.html
Labels: site, a11y

Add high-value terms contribution board
  README.md
  high_value_terms.json
  index.html
  templates/high-value-terms.html
Labels: site, a11y

Add high-value terms contribution board
  README.md
  high_value_terms.json
  index.html
  templates/high-value-terms.html
Labels: site, a11y

Document static content and AI expansion requirements
  docs/requirements.md
Labels: none

chore: scaffold app and api directories
  api/expand/route.ts
  api/search/route.ts
  api/suggest/route.ts
  app/(main)/term/[slug]/page.tsx
  app/(marketing)/.gitkeep
  app/api/.gitkeep
  app/settings/.gitkeep
  components/.gitkeep
  content/terms/.gitkeep
  lib/.gitkeep
  public/.gitkeep
  scripts/.gitkeep
  styles/.gitkeep
  types/.gitkeep
Labels: none

feat: add term types and content schema
  content/terms/_template.mdx
  lib/content.ts
  package-lock.json
  package.json
  types/term.ts
Labels: none

feat: add expandable topic support
  api/expand/route.ts
  api/suggest/route.ts
  components/ExpandPane.ts
  lib/ai.ts
  lib/prompts.ts
Labels: none

feat: add build metrics reporting
  README.md
  docs/metrics.md
  package.json
  scripts/collectMetrics.js
Labels: none

feat: add settings hook and UI components
  src/components/KeyboardShortcuts.tsx
  src/components/SettingsSheet.tsx
  src/hooks/useSettings.ts
Labels: none

feat: add term browsing pages
  app/(main)/compare/page.tsx
  app/(main)/page.tsx
  app/(main)/term/[slug]/page.tsx
  components/EmptyState.tsx
  components/ExpandPane.tsx
  components/PromptChips.tsx
  components/SearchBar.tsx
  components/TermBody.tsx
  components/TermCard.tsx
Labels: none

feat: add metadata, sitemap, and accessibility updates
  assets/js/search.js
  diagnostics.html
  generate-sitemap.js
  index.html
  package.json
  robots.txt
  script.js
  search.html
  sitemap.xml
Labels: site, a11y

Add API routes for search and expand
  package-lock.json
  package.json
  server.js
Labels: none

feat: add metadata, sitemap, and accessibility updates
  assets/js/search.js
  diagnostics.html
  generate-sitemap.js
  index.html
  package.json
  robots.txt
  script.js
  search.html
  sitemap.xml
Labels: site, a11y

Generate static term pages and lazy-load heavy components
  assets/js/expand-pane.js
  assets/js/mdx-block.js
  assets/js/metrics.js
  index.html
  package.json
  script.js
  scripts/generate-terms.js
  sitemap.xml
  terms/advanced-encryption-standard-aes.html
  terms/advanced-persistent-threat-apt.html
  terms/certificate-authority-ca.html
  terms/cross-site-request-forgery-csrf.html
  terms/cross-site-scripting-xss.html
  terms/cryptography.html
  terms/cyber-espionage.html
  terms/data-encryption-standard-des.html
  terms/data-loss-prevention-dlp.html
  terms/eavesdropping.html
  terms/endpoint-security.html
  terms/identity-theft.html
  terms/incident-response.html
  terms/key-exchange.html
  terms/malvertising.html
  terms/network-security.html
  terms/payload.html
  terms/phishing-email.html
  terms/phishing.html
  terms/privilege-escalation.html
  terms/public-key-infrastructure-pki.html
  terms/secure-sockets-layer-ssl.html
  terms/security-assessment.html
  terms/security-operations-center-soc.html
  terms/security-patch.html
  terms/security-token.html
  terms/social-engineering-attack-vectors.html
  terms/social-engineering-toolkit-set.html
  terms/threat-hunting.html
  terms/transport-layer-security-tls.html
  terms/zero-day-vulnerability.html
  terms/zero-knowledge-proof.html
Labels: site, a11y

Add security headers and CSP configuration
  next.config.js
Labels: none

Document environment variables and expose public config
  .env.example
  .gitignore
  README.md
  assets/js/env-config.js
  index.html
  package.json
  script.js
  scripts/generate-env.js
Labels: site, a11y

feat: add build scripts and vercel config
  api/expand.ts
  package-lock.json
  package.json
  scripts/build-search-index.ts
  tsconfig.json
  vercel.json
Labels: none

feat: add interactive search components
  assets/js/search.js
  search.html
  styles.css
Labels: site

docs: add repository agent instructions
  AGENTS.md
Labels: none

docs: add optional feature backlog
  OPTIONAL_FEATURES_BACKLOG.md
Labels: none

feat: add interactive search components
  assets/js/search.js
  search.html
  styles.css
Labels: site

feat: add AI expander with streaming chat
  app/api/chat/route.ts
  components/ai/AIExpander.tsx
Labels: none

feat: add search API and combobox
  app/api/search/route.ts
  components/search/SearchBar.tsx
  lib/search/build-index.ts
  lib/search/runtime.ts
Labels: none

Add term page with sources and related terms
  app/(site)/term/[slug]/RelatedTerms.tsx
  app/(site)/term/[slug]/page.tsx
Labels: none

feat: add A-Z term listing page
  app/(site)/a-z/page.tsx
Labels: none

feat: add settings page with persistent preferences
  app/(site)/settings/page.tsx
  lib/settings.ts
Labels: none

Add repository guidance for agents
  AGENTS.md
Labels: none

feat: add default security headers
  next.config.mjs
Labels: none

Add term front matter validation
  README.md
  package-lock.json
  package.json
  scripts/validate-terms.ts
Labels: none

Improve accessibility with ARIA roles and keyboard support
  index.html
  script.js
  styles.css
Labels: site, a11y

Add CSP middleware with nonce and apply to layout
  app/layout.tsx
  middleware.ts
Labels: none

Add configurable Content Security Policy reporting
  README.md
  build.sh
  diagnostics.html
  index.html
  layout.html
  scripts/enable-csp-report-only.js
  search.html
Labels: site, a11y

feat: add fetch retry with jitter
  assets/js/search.js
  script.js
  sw.js
Labels: site

Add basic IP-based rate limiting server
  server.js
Labels: none

Allow inline scripts in CSP
  diagnostics.html
  index.html
  layout.html
  search.html
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

Add Sentry Replay integration with low sampling
  assets/js/sentry.js
  diagnostics.html
  index.html
  layout.html
  search.html
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

feat: add Sentry Next.js configuration
  next.config.mjs
  package-lock.json
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Labels: none

Add MiniSearch client-side index with autosuggest
  assets/js/search.js
  minisearch-index.json
  search.html
  styles.css
Labels: site
