Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Add source preference toggle on settings page
  app/settings/page.tsx
Labels: none

feat: add keyboard shortcuts for search and help
  app/layout.tsx
  lib/ui/shortcuts.ts
Labels: none

feat: add compare page
  app/compare/page.tsx
Labels: none

Add runtime nodejs export to chat route
  app/api/chat/route.ts
Labels: none

Add robots.txt for sitemap
  public/robots.txt
Labels: none

Add CI workflow with lint, typecheck, tests, and build steps
  .github/workflows/ci.yml
Labels: none

Add Playwright end-to-end tests and CI integration
  .github/workflows/ci.yml
  package-lock.json
  package.json
  playwright.config.ts
  tests/e2e.spec.ts
Labels: none

Enable TypeScript strict mode
  package.json
  tsconfig.json
Labels: none

feat: add error page with reload link
  app/error.tsx
Labels: none

Enable TypeScript strict mode
  package.json
  tsconfig.json
Labels: none

docs: add Fuse.js search guide
  docs/search.md
Labels: none

feat: add error page with reload link
  app/error.tsx
Labels: none

Add ATT&CK technique IDs for key terms
  content/terms/cross-site-scripting-xss.mdx
  content/terms/eavesdropping.mdx
  content/terms/malvertising.mdx
  content/terms/phishing.mdx
Labels: none

Add bug issue template and CODEOWNERS
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

Add OWASP Top 10 term entries
  content/terms/broken-access-control.mdx
  content/terms/cryptographic-failures.mdx
  content/terms/identification-and-authentication-failures.mdx
  content/terms/injection.mdx
  content/terms/insecure-design.mdx
  content/terms/security-logging-and-monitoring-failures.mdx
  content/terms/security-misconfiguration.mdx
  content/terms/server-side-request-forgery.mdx
  content/terms/software-and-data-integrity-failures.mdx
  content/terms/vulnerable-and-outdated-components.mdx
Labels: none

Add cybersecurity term MDX entries
  content/terms/advanced-encryption-standard.mdx
  content/terms/botnet.mdx
  content/terms/ddos.mdx
  content/terms/firewall.mdx
  content/terms/incident-response.mdx
  content/terms/multi-factor-authentication.mdx
  content/terms/penetration-testing.mdx
  content/terms/ransomware.mdx
  content/terms/vpn.mdx
  content/terms/zero-trust.mdx
Labels: none

docs: expand project README
  README.md
Labels: none

Add AGENTS guidelines
  AGENTS.md
Labels: none

Document term template and citation policy
  CONTRIBUTING.md
  templates/guidelines.html
Labels: site, a11y

Add accessibility tests with axe-core
  __tests__/a11y/axe.spec.ts
  package-lock.json
  package.json
Labels: none

feat: add favorite button component
  components/term/FavoriteButton.tsx
Labels: none

feat: add AI expander component
  components/ai/AIExpander.tsx
Labels: none

Add term page components with MDX and source links
  app/term/[slug]/page.tsx
  components/term/TermPage.tsx
Labels: none

feat: add script to build search index
  lib/search/build-index.ts
  package-lock.json
  package.json
  public/index.json
  scripts/build-search-index.ts
  tsconfig.json
Labels: none

feat: add global search box with debounced queries
  app/layout.tsx
  components/Spinner.tsx
  components/search/SearchBox.tsx
  lib/api/search.ts
Labels: none

feat: add autocomplete component
  components/search/Autocomplete.tsx
Labels: none

feat: add search suggestions
  app/search/page.tsx
  pages/api/search.ts
Labels: none

feat: add fuzzy search toggle
  api/search.ts
  components/SearchBox.tsx
Labels: none

feat: add text highlighting utility
  components/results/DefinitionItem.tsx
  lib/highlight.ts
Labels: none

feat: add search history hook and panel
  components/search/HistoryPanel.tsx
  hooks/useSearchHistory.ts
Labels: none

feat: add advanced search filters
  assets/js/search.js
  components/search/AdvancedFilters.tsx
Labels: none

feat: enable voice input for search
  SearchBox.tsx
Labels: none

feat: add word dynamic page with pronunciation header
  app/word/[slug]/page.tsx
Labels: none

Add saved search feature
  api/saved.js
  assets/js/saved.js
  assets/js/search.js
  data/saved.json
  package.json
  search.html
  search/saved.html
Labels: content, site

feat: add shortcut palette component
  components/ShortcutPalette.tsx
Labels: none

Add pronunciation audio player with waveform and rate control
  components/audio/PronunciationPlayer.tsx
  package-lock.json
  package.json
Labels: none

Add part-of-speech tabs with SWR data fetching
  components/PosTabs.tsx
  word/[slug]/page.tsx
Labels: none

Add citation toggle and copy to ExampleSentence
  components/examples/ExampleSentence.tsx
Labels: none

Add SenseAccordion component
  components/SenseAccordion.tsx
Labels: none

Add Collocations component
  components/Collocations.tsx
Labels: none
