Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

feat: centralize hotkey handling
  components/ShortcutManager.tsx
  package.json
  src/components/CommandPalette.tsx
  src/components/DiagramViewer.tsx
  src/components/KeyboardShortcuts.tsx
  src/components/QuickJumpPopover.tsx
  src/components/ShortcutCheatsheet.tsx
  src/hooks/useHotkeys.ts
  tests/useHotkeys.test.ts
Labels: none

Add print styles
  app/layout.tsx
  styles/print.css
Labels: none

refactor: replace layout animations
  MediaCaption.tsx
  components/KeyboardReader.tsx
  components/MiniMap.tsx
  components/term/TermHeader.tsx
  src/components/FocusSpotlight.tsx
Labels: none

feat: add offline hook
  app/components/SearchInput.tsx
  app/layout.tsx
  src/hooks/useOffline.ts
  src/hooks/useSearch.tsx
Labels: none

Make error pages static
  app/[category]/error.tsx
  app/[term]/error.tsx
Labels: none

Add robust clipboard copy with fallback
  assets/js/cidr.js
  assets/js/sanitize.js
  components/InflectionTable.tsx
  components/examples/ExampleSentence.tsx
  components/term/ShareButton.tsx
  lib/copyToClipboard.ts
  script.js
  src/components/ClipboardHistory.tsx
  src/components/CodeBlock.tsx
  src/components/TableBuilder.tsx
  src/playgrounds/crypto/script.js
  src/tools/CitationBuilder.ts
  src/tools/SecurityHeadersComposer.tsx
  tests/copy.spec.ts
Labels: site

Wrap data fetch components in Suspense
  components/RelatedWords.tsx
  components/SideDrawer.tsx
  src/components/BacklinksPanel.tsx
  src/pages/TermPage.tsx
Labels: none

feat: add link checker script
  scripts/checkLinks.ts
Labels: none

feat: use heroicons for UI elements
  PronunciationPlayer.tsx
  components/Navbar.tsx
  package-lock.json
  package.json
Labels: none

test: verify legacy redirects
  next.config.js
  next.config.mjs
  tests/redirects.spec.ts
Labels: none

test: add route coverage
  package-lock.json
  package.json
  tests/routes.spec.ts
  tests/useCopyFormats.test.js
Labels: none

feat: add upload size validation
  app/api/upload/route.ts
  assets/js/import.js
  src/components/Upload.tsx
  src/utils/limits.ts
Labels: none

feat: add pagination and caps to API
  app/admin/AdminPanel.tsx
  app/api/search/route.ts
  app/api/terms/route.ts
  app/components/SearchInput.tsx
  app/search/page.tsx
  src/hooks/useSearch.tsx
Labels: none

feat: introduce safe JSON parser
  SearchResultCard.tsx
  app/api/feedback/route.ts
  app/api/terms/[term]/route.ts
  app/api/terms/route.ts
  app/settings/page.tsx
  components/PersonalTermsManager.tsx
  components/RecentMenu.tsx
  components/ShortcutManager.tsx
  components/SideDrawer.tsx
  components/WordOfDay.tsx
  components/term/FavoriteButton.tsx
  hooks/useFontHinting.ts
  hooks/useSearchHistory.ts
  lib/search/runtime.ts
  lib/settings.ts
  pages/index.tsx
  scripts/build.js
  src/components/ClipboardHistory.tsx
  src/components/ClipboardPreview.tsx
  src/components/StandardsTable.tsx
  src/features/history/UndoManager.ts
  src/features/notes/Encryption.ts
  src/features/onboarding/Checklist.tsx
  src/features/selection/SelectionContext.tsx
  src/hooks/useSearchHistory.ts
  src/hooks/useSettings.ts
  src/layout/WorkbenchLayout.tsx
  src/utils/exportImport.ts
  src/utils/safeJson.js
  src/utils/safeJson.ts
Labels: none

Add CSP nonces and frame ancestor restriction
  next.config.js
Labels: none

feat: enable route-based scroll restoration
  app/layout.tsx
  src/hooks/useScrollRestoration.ts
Labels: none

feat: introduce reusable logger
  app/api/socket/route.ts
  assets/js/preconnect.js
  diagnostics.html
  diagnostics.test.js
  index.html
  middleware.ts
  search.html
  server.js
  src/utils/logger.js
  src/utils/logger.ts
  tests/useCopyFormats.test.js
Labels: site, a11y

feat: add rhf with zod for personal term form
  components/PersonalTermForm.tsx
  package-lock.json
  package.json
Labels: none

feat: improve focus management
  app/layout.tsx
  components/Modal.tsx
  components/ShortcutPalette.tsx
  components/ui/Dialog.tsx
  hooks/useFocusTrap.ts
  src/components/ClipboardPreview.tsx
  src/components/CommandPalette.tsx
  src/components/ShortcutCheatsheet.tsx
Labels: none

guard useEffect side effects
  app/admin/AdminPanel.tsx
  app/search/page.tsx
  components/FrequencyMeter.tsx
  components/WordOfDay.tsx
  components/search/RandomTerm.tsx
  hooks/useSearchHistory.ts
Labels: none

fix: clear timers on unmount
  src/components/QuickJumpPopover.tsx
  src/hooks/useHoverPreview.ts
  src/settings/SettingsPage.tsx
  src/tools/SecurityHeadersComposer.tsx
Labels: none

chore: add babel config
  babel.config.js
  diagnostics.test.cjs
  next.config.js
  package.json
  scripts/build.js
  server.js
  tests/useCopyFormats.test.js
Labels: none

feat: add i18n fallback with logging
  package.json
  src/lib/i18n.ts
  tests/i18n.test.js
Labels: none

feat: add query parsing utility
  app/api/search/route.ts
  app/api/terms/route.ts
  package-lock.json
  package.json
  src/utils/queryParser.ts
Labels: none

refactor: isolate env vars in API routes
  api/expand/route.ts
  lib/ai.ts
Labels: none

chore: specify runtimes for API routes
  app/api/chat/route.ts
  app/api/feedback/route.ts
  app/api/search/route.ts
  app/api/socket/route.ts
  app/api/terms/[term]/route.ts
  app/api/terms/route.ts
  app/sitemap.ts
Labels: none

feat: add safeUrl utility
  api/suggest/route.ts
  app/api/search/route.ts
  app/components/SearchInput.tsx
  app/search/page.tsx
  components/SearchBox.tsx
  components/search/Autocomplete.tsx
  src/hooks/useSearch.tsx
  src/utils/safeUrl.ts
Labels: none

feat: compute highlight overlaps in worker
  src/features/highlights/HighlightResolver.tsx
  src/features/highlights/overlapWorker.ts
Labels: none

test: add sanitizer utility and tests
  __tests__/sanitize.test.ts
  app/components/FAQBlock.tsx
  app/terms/[slug]/page.tsx
  components/results/DefinitionItem.tsx
  package-lock.json
  package.json
  src/playgrounds/regex/RegexSandbox.tsx
  src/utils/sanitize.ts
Labels: none

chore: restrict image domains
  next.config.js
  next.config.mjs
Labels: none

feat: add MDX schema
  app/(site)/term/[slug]/page.tsx
  app/term/[slug]/page.tsx
  content/terms/advanced-encryption-standard.mdx
  content/terms/botnet.mdx
  content/terms/broken-access-control.mdx
  content/terms/cross-site-scripting-xss.mdx
  content/terms/cryptographic-failures.mdx
  content/terms/ddos.mdx
  content/terms/defense-in-depth.mdx
  content/terms/eavesdropping.mdx
  content/terms/firewall.mdx
  content/terms/identification-and-authentication-failures.mdx
  content/terms/incident-response.mdx
  content/terms/injection.mdx
  content/terms/insecure-design.mdx
  content/terms/malvertising.mdx
  content/terms/multi-factor-authentication.mdx
  content/terms/penetration-testing.mdx
  content/terms/phishing.mdx
  content/terms/ransomware.mdx
  content/terms/security-logging-and-monitoring-failures.mdx
  content/terms/security-misconfiguration.mdx
  content/terms/server-side-request-forgery.mdx
  content/terms/software-and-data-integrity-failures.mdx
  content/terms/sql-injection.mdx
  content/terms/vpn.mdx
  content/terms/vulnerable-and-outdated-components.mdx
  content/terms/zero-trust.mdx
  lib/mdxSchema.ts
  package-lock.json
  package.json
Labels: none

archive experimental features
  ARCHIVE_REPORT.md
  archive/linkPreview/index.ts
  archive/search/SearchBar.tsx
  archive/selection/SelectionContext.tsx
  archive/selection/SelectionToolbar.tsx
  archive/selection/index.ts
  archive/selection/useCopyFormats.ts
  archive/selection/useMarquee.ts
  scripts/quarantine.js
  tests/useCopyFormats.test.js
Labels: none

feat: add route error boundaries
  app/(site)/a-z/error.tsx
  app/(site)/a-z/not-found.tsx
  app/(site)/error.tsx
  app/(site)/not-found.tsx
  app/(site)/settings/error.tsx
  app/(site)/settings/not-found.tsx
  app/(site)/term/[slug]/error.tsx
  app/(site)/term/[slug]/not-found.tsx
  app/(site)/term/error.tsx
  app/(site)/term/not-found.tsx
  app/[category]/error.tsx
  app/[category]/not-found.tsx
  app/[term]/error.tsx
  app/[term]/not-found.tsx
  app/a-z/error.tsx
  app/a-z/not-found.tsx
  app/admin/error.tsx
  app/admin/not-found.tsx
  app/compare/[a]-vs-[b]/error.tsx
  app/compare/[a]-vs-[b]/not-found.tsx
  app/compare/error.tsx
  app/compare/not-found.tsx
  app/search/error.tsx
  app/search/not-found.tsx
  app/settings/error.tsx
  app/settings/not-found.tsx
  app/term/[slug]/error.tsx
  app/term/[slug]/not-found.tsx
  app/term/error.tsx
  app/term/not-found.tsx
  app/terms/[slug]/error.tsx
  app/terms/[slug]/not-found.tsx
  app/terms/error.tsx
  app/terms/not-found.tsx
  app/word/[slug]/error.tsx
  app/word/[slug]/not-found.tsx
  app/word/error.tsx
  app/word/not-found.tsx
Labels: none

chore: enforce client-only globals
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/QuickJumpPopover.tsx
  src/features/tour/GuidedTour.tsx
  src/settings/SettingsPage.tsx
Labels: none

chore: enforce NextResponse in routes
  .eslintrc.json
  app/api/chat/route.ts
  app/api/socket/route.ts
  package-lock.json
  package.json
Labels: none

chore: handle promise rejections
  api/expand/route.ts
  api/suggest/route.ts
  app/api/chat/route.ts
  app/api/search/route.ts
  app/api/socket/route.ts
  app/api/terms/[term]/route.ts
  app/api/terms/route.ts
  lib/ai.ts
  server.js
Labels: none

Enable strict noImplicitAny checks
  package-lock.json
  package.json
  src/components/AlphabetGrid.tsx
  src/components/DiagramViewer.tsx
  src/components/QuickJumpPopover.tsx
  src/features/linkPreview/index.tsx
  src/features/notes/Encryption.ts
  src/features/tour/GuidedTour.tsx
  src/hooks/useHoverPreview.ts
  src/hooks/useSearch.tsx
  src/types.d.ts
  src/utils/readability.ts
  tsconfig.json
Labels: none

test: verify HTML hydration
  .github/workflows/ci.yml
  tests/hydration.spec.ts
Labels: none

chore: quarantine feature ocr
  app/ocr/page.tsx
  archive/features/ocr/index.ts
  package.json
  scripts/quarantine.ts
Labels: none

Fix TypeScript compilation issues
  lib/settings.tsx
  package-lock.json
  package.json
  src/features/linkPreview/index.tsx
  tsconfig.json
  types/next-image.d.ts
  types/next-server.d.ts
Labels: none
