Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Add animated scrollbar ticks with reduced motion support
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add dynamic locale switching
  index.html
  locales/en.json
  locales/es.json
  script.js
Labels: site, a11y

Add interactive code stepper
  assets/js/code-stepper.js
  index.html
  styles.css
  templates/code-stepper.html
Labels: site, a11y

feat: flip card once per day
  script.js
  styles.css
Labels: site

feat: preload audio on hover
  assets/js/audio-preload.js
  index.html
  script.js
Labels: site, a11y

feat: add accessible hovercards
  assets/js/hovercard.js
  index.html
  script.js
  styles.css
Labels: site, a11y

Add animated new badge for favorites
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Add export progress indicator with cancel and toast
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: fold older diagnostics history
  assets/js/diagnostics.js
  diagnostics.test.js
  styles.css
Labels: site

deploy: b56f9ed08df28eb69aba3dee8f674299f576d6f8
  index.html
  layout.html
  script.js
Labels: site, a11y

deploy: fc18c7348911e6daf50baba902612143b817f526
  assets/js/diagnostics.js
  diagnostics.test.js
  styles.css
Labels: site

deploy: dc5f9794a03a12b08a11171a0dbec5a7f3430416
  index.html
  script.js
  styles.css
Labels: site, a11y

deploy: 463bc578901c1067a847975eb581b6657eba1ac2
  src/features/selection/SelectionContext.tsx
  src/features/selection/SelectionToolbar.tsx
  src/features/selection/index.ts
  src/features/selection/useMarquee.ts
Labels: none

deploy: 3080c0780cf44a4f334eca7266ef9911b4e25eba
  assets/js/app.js
  src/components/SwUpdateToast.tsx
  sw.js
Labels: site

deploy: 0e532915f77fbda23b7b5b0257989b26e3f7b9fc
  assets/js/sunburst.js
  categories.html
  index.html
Labels: site, a11y

deploy: c08c9b335eab97f5785577c85e4d9efe3b922c30
  assets/js/sanitize.js
  sanitize.html
Labels: none

deploy: 1e9984d98924fcf27f51dc370b3d68d326d1540f
  assets/js/import.js
  import.html
  package.json
Labels: none

deploy: 2c41062a7217c1548e15515ebbbfb0bd2485a34a
  script.js
  styles.css
Labels: site

deploy: d83f8d3cb4af2f3112930e7ed93bf6401ac1598b
  assets/js/search.js
  search.html
Labels: site

deploy: dd28af339de85bf1fdee5b991cbd39de0f15974c
  assets/js/cidr.js
  cidr.html
  styles.css
Labels: site

deploy: 163ca4e84d149ca72e51661dfa695d07548a8082
  src/components/Minimap.tsx
Labels: none

deploy: c98180775ed2dd8a5ab9d77983eb380e526fdcec
  script.js
  styles.css
Labels: site

deploy: 18ae59795fba3cef7c5d891cbbde58b4c470ba1d
  src/components/StandardsTable.tsx
Labels: none

deploy: 6c7eddd9ebc4007cb9bf7c589bd9be44d11f2e8d
  src/features/history/UndoManager.ts
  src/tools/CitationBuilder.ts
Labels: none

deploy: f4d2135fd4b74cb18876832f184425d1bab2dc2c
  src/tools/CitationBuilder.ts
Labels: none

deploy: 4e0c9633bd6e94f498d956df197b59dccf675cf5
  src/components/CommandPalette.tsx
  src/tools/CitationBuilder.ts
Labels: none

deploy: 09f504710e901ccf4d0b7baaf5b4e3b8c3243d20
  src/features/highlights/HighlightsDrawer.tsx
Labels: none

deploy: eeb020110db7dd5a73b7c6d9c542708c6801a5da
  author.html
  author.js
Labels: none

deploy: be31af1a9ba6f4c44e1577553394a2d66e30ebaa
  src/tools/PullQuoteGenerator.tsx
Labels: none

deploy: 330b2276347f767c1ffe99aefe85934ddb6f3107
  src/components/SortToolbar.tsx
Labels: none

deploy: 06d2c5600bca7321635e46f867ee8024dd55e187
  src/components/AlphabetGrid.tsx
Labels: none

deploy: 9c1b45c22aa8ca5e34cb3dd03ff6ad8dce69cd61
  src/features/onboarding/Checklist.tsx
Labels: none

deploy: 068a69b39e56844c864577cf5be851fa3783a250
  src/features/notes/Encryption.ts
Labels: none

deploy: 7b9d0103af786e9857e8014ace49ff783d4d5b46
  src/tools/SecurityHeadersComposer.tsx
Labels: none

deploy: b41170f91161fc6b83699f030b586a07edabfa1a
  src/features/search/SearchBar.tsx
  src/playgrounds/crypto/index.html
  src/playgrounds/crypto/script.js
  src/playgrounds/crypto/styles.css
Labels: none

deploy: 810858fb8c33fef58c2ad26445d572ce2dcc6a8f
  package-lock.json
  package.json
  src/components/DiagramViewer.tsx
Labels: none

deploy: 21f03d727bb6e0dab9f35b280397c53b3a7ce990
  src/playgrounds/regex/RegexSandbox.tsx
Labels: none

deploy: 283e3ca898416aa3d6244673b63c0fc384dd5be2
  assets/css/style.css
  script.js
  styles.css
Labels: site

deploy: be7bc299b655235dab64760b8bbde40482ae039b
  src/components/FocusSpotlight.tsx
Labels: none

deploy: cb67b0a8d9ec01ae11ec308bfc0f52c3153a0a2c
  src/settings/ColorBlindPalette.tsx
Labels: none
