Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

Add session timeline component
  app/term/[slug]/page.tsx
  components/SessionTimeline.tsx
  components/term/TermPage.tsx
Labels: none

feat: add summary toggle to term page
  app/term/[slug]/page.tsx
  components/term/Summary.tsx
  components/term/TermPage.tsx
Labels: none

feat: add copy toast hook
  app/layout.tsx
  hooks/useCopyToast.ts
Labels: none

feat: add text selection toolbar
  components/SelectionTools.tsx
  pages/index.tsx
  styles.css
Labels: site

feat: add recent term comparison chip
  app/layout.tsx
  components/ComparePanel.tsx
  components/term/RecentTermTracker.tsx
  components/term/TermPage.tsx
  hooks/useRecentTerms.ts
Labels: none

feat: add tag management with filtering
  app/search/page.tsx
  components/TagManager.tsx
  components/TagSidebar.tsx
  components/term/TermPage.tsx
  lib/tagDB.ts
Labels: none

feat: add connection indicator
  components/ConnectionIndicator.tsx
  components/Navbar.tsx
Labels: none

fix: restore settings page syntax
  app/(site)/settings/page.tsx
  hooks/useBatterySaver.ts
  lib/settings.ts
Labels: none

feat: add scroll-aware header
  components/Header.tsx
Labels: none

feat: add collection button to search results
  SearchResultCard.tsx
Labels: none

feat: provide vertical action rail
  app/layout.tsx
  components/ActionRail.module.css
  components/ActionRail.tsx
Labels: none

feat: allow dragging term cards to desktop
  components/TermCard.tsx
  hooks/useDragToDesktop.ts
  styles.css
Labels: site

feat: add keyboard resizing to SplitView
  components/SplitView.tsx
Labels: none

feat: add theme selector with preview
  src/settings/ThemeSelector.tsx
Labels: none

feat: record recent term views
  components/Navbar.tsx
  components/RecentMenu.tsx
Labels: none

feat: make hover preview delay configurable
  src/hooks/useHoverPreview.ts
  src/settings/HoverPreview.tsx
  src/settings/SettingsPage.tsx
Labels: none

feat: add page mini-map component
  components/MiniMap.tsx
Labels: none

feat: add dynamic breadcrumbs
  components/Breadcrumbs.tsx
Labels: none

feat: add accessibility settings toggle for icon labels
  SearchBox.tsx
  components/Navbar.tsx
  components/SideDrawer.tsx
  index.html
  layout.html
  src/components/ClipboardPreview.tsx
  src/components/ShortcutCheatsheet.tsx
  src/features/highlights/HighlightsDrawer.tsx
  src/features/search/SearchBar.tsx
  src/hooks/useSettings.ts
  src/settings/Accessibility.tsx
  src/settings/SettingsPage.tsx
  styles.css
Labels: site, a11y

feat: add recall rehearsal panel
  components/RehearsalPanel.tsx
Labels: none

feat: add offline unit converter with hover tooltip
  components/UnitConverter.tsx
  components/examples/ExampleSentence.tsx
  styles.css
Labels: site

feat: allow bookmarking term positions
  components/term/TermPage.tsx
  components/term/TermToolbar.tsx
  styles.css
Labels: site

feat: add understanding tracker component
  app/[term]/page.tsx
  app/terms/[slug]/page.tsx
  components/UnderstandingTracker.tsx
  components/search/AZIndex.tsx
  components/term/TermPage.tsx
  lib/understanding.ts
Labels: none

feat: allow custom term hotkeys
  components/ShortcutManager.tsx
Labels: none

feat: add understanding tracker component
  app/[term]/page.tsx
  app/terms/[slug]/page.tsx
  components/UnderstandingTracker.tsx
  components/search/AZIndex.tsx
  components/term/TermPage.tsx
  lib/understanding.ts
Labels: none

Add inline citation expander component
  components/CitationExpander.tsx
Labels: none

feat: add keyboard reader mode
  components/KeyboardReader.tsx
Labels: none

feat: add difficulty ladder for related terms
  app/(site)/term/[slug]/RelatedTerms.tsx
  components/term/RelatedTerms.tsx
Labels: none

Add backlinks panel with IndexedDB support
  public/backlinks.json
  src/components/BacklinksPanel.tsx
  src/pages/TermPage.tsx
  src/utils/backlinks.ts
Labels: none

feat: add copyable code block with prerequisites checklist
  src/components/CodeBlock.tsx
Labels: none

feat: add related term reason mapping
  components/term/RelatedTerms.tsx
  relatedReasons.json
  styles.css
Labels: site

feat: add abbreviation drawer
  components/AbbreviationDrawer.tsx
Labels: none

feat: add scroll thumbnails for quick navigation
  src/components/ScrollThumbnails.tsx
Labels: none

feat: add font hinting hook and settings script
  app/layout.tsx
  app/settings/page.tsx
  assets/js/hinting.js
  hooks/useFontHinting.ts
  settings.html
Labels: none

Add inline citation expander component
  components/CitationExpander.tsx
Labels: none

feat: add copyable code block with prerequisites checklist
  src/components/CodeBlock.tsx
Labels: none

feat: add highlight resolver widget
  src/features/highlights/HighlightResolver.tsx
  src/features/highlights/HighlightsDrawer.tsx
Labels: none

feat: add related term reason mapping
  components/term/RelatedTerms.tsx
  relatedReasons.json
  styles.css
Labels: site

feat: add scroll thumbnails for quick navigation
  src/components/ScrollThumbnails.tsx
Labels: none

feat: add font hinting hook and settings script
  app/layout.tsx
  app/settings/page.tsx
  assets/js/hinting.js
  hooks/useFontHinting.ts
  settings.html
Labels: none

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'
