Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

feat: add related word drawer
  components/RelatedWords.tsx
  components/SideDrawer.tsx
Labels: none

feat: add inflection table component
  components/InflectionTable.tsx
Labels: none

feat: add etymology timeline component
  components/EtymologyTimeline.tsx
Labels: none

Add translations accordion component
  components/Translations.tsx
Labels: none

Add anagram search page
  anagrams.html
  assets/js/anagrams.js
  index.html
  package.json
Labels: site, a11y

feat: add derivations component
  components/Derivations.tsx
Labels: none

feat: render idiom chips with hover previews
  script.js
  styles.css
Labels: site

Add rhymes API route and display component
  api/rhymes.js
  components/Rhymes.tsx
Labels: none

Add FrequencyMeter component
  components/FrequencyMeter.tsx
Labels: none

feat: add swipeable quotation carousel
  components/QuotationsCarousel.tsx
  package-lock.json
  package.json
Labels: none

feat: add register toggle to PosTabs
  assets/js/PosTabs.tsx
Labels: none

feat: filter examples by region
  script.js
  styles.css
  terms.json
Labels: content, site

feat: add dual-source pronunciation player
  PronunciationPlayer.tsx
Labels: none

Add WordOfDay component with navigation and save
  components/WordOfDay.tsx
Labels: none

Add flashcard preview and deck storage
  script.js
  styles.css
Labels: site

Include study page tests
  index.html
  package.json
  study.html
  study.js
Labels: site, a11y

Add listening quiz with pronunciation audio and fuzzy answer checking
  assets/js/listening-quiz.js
  package.json
  quiz/listening.html
Labels: none

feat: track user streaks and badges
  components/profile/Badges.tsx
  script.js
Labels: site

Add quiz component with dual modes and scoring
  assets/js/quiz.js
  index.html
  quiz.html
  styles.css
Labels: site, a11y

Add minimal pairs page with audio playback
  assets/js/minimal-pairs.js
  minimal-pairs/index.html
  package.json
Labels: none

feat: add alphabet index component
  components/AlphaIndex.tsx
Labels: none

feat: add word breadcrumb component
  app/word/[slug]/page.tsx
Labels: none

Add adjacent term navigation
  script.js
  styles.css
Labels: site

Add scroll-aware RelatedWordsPanel component
  components/RelatedWordsPanel.tsx
Labels: none

Add hover card for crosslinks
  script.js
  styles.css
  terms.json
Labels: content, site

Track recent slugs and display sidebar list
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

fix: use relative path for terms data
  assets/js/compare.js
  compare.html
  styles.css
  sw.js
Labels: site

Add trending analytics page with charts
  assets/js/trending.js
  index.html
  sw.js
  trending.html
Labels: site, a11y

Generate topic pages from CMS data
  data/topics.yaml
  package.json
  scripts/build-topics.js
  topics/index.html
  topics/security-frameworks.html
  topics/vulnerability-tracking.html
Labels: content

feat: add random nav button
  index.html
  script.js
  styles.css
Labels: site, a11y

Add difficulty filter slider and query parameter support
  assets/js/AdvancedFilters.tsx
  assets/js/search.js
Labels: none

feat: add rtl detection script
  assets/js/rtl.js
  build.js
  diagnostics.html
  index.html
  layout.html
  search.html
  styles.css
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

Add skip links and ARIA landmarks for accessibility
  diagnostics.html
  index.html
  layout.html
  search.html
  styles.css
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

Add ARIA live regions and labels
  assets/js/search.js
  index.html
  layout.html
  script.js
  search.html
Labels: site, a11y

feat: add autocomplete search components
  components/AutocompleteList.tsx
  components/SearchBox.tsx
Labels: none

feat: add debounced SearchBox component
  components/SearchBox.tsx
Labels: none

Add fuzzy did-you-mean suggestions to search
  assets/js/search.js
  components/DidYouMean.tsx
  search.html
Labels: site

feat: add fuzzy search toggle
  assets/js/search.js
  search.html
Labels: site

feat: add advanced search panel component
  components/AdvancedSearchPanel.tsx
Labels: none

feat: track search history
  assets/js/search.js
  components/SearchHistory.tsx
  script.js
Labels: site
