Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Add role-based learning pages with local progress tracking
  assets/js/roles.js
  index.html
  roles/appsec-engineer.html
  roles/cloud-security.html
  roles/soc-analyst.html
Labels: site, a11y

Add OpenAPI spec for terms endpoints
  README.md
  data/openapi.yaml
  index.html
Labels: content, site, a11y

Add question bank with 100+ security questions
  index.html
  questions.html
  questions.js
  questions.json
Labels: site, a11y

Track quiz progress with heatmap
  index.html
  quiz.html
  quiz.js
  styles.css
Labels: site, a11y

Generate CSV exports for terms
  .gitignore
  build.js
  package.json
Labels: site

feat: add CLI for fuzzy term search
  .gitignore
  README.md
  bin/cli-term.js
  index.html
  package.json
  scripts/build-index.js
  terms.index.json
Labels: site, a11y

feat: add offline hover dictionary extension
  README.md
  extension/README.md
  extension/content.js
  extension/demo.html
  extension/manifest.json
  extension/terms.json
  index.html
Labels: site, a11y

feat: add cyber-term web component
  README.md
  component-demo.html
  cyber-term.js
  index.html
Labels: site, a11y

Validate terms against schema in CI
  .github/workflows/ci.yml
  index.html
  package.json
  schemas/term.schema.json
  scripts/validate-terms.js
Labels: site, a11y

Expand searches with common abbreviations
  abbreviations.json
  assets/js/search.js
  script.js
  styles.css
  terms.json
Labels: content, site

feat: add data import adapters
  README.md
  tools/importers/README.md
  tools/importers/adapter.js
  tools/importers/csv.js
  tools/importers/json.js
  tools/importers/samples/sample.csv
  tools/importers/samples/sample.json
  tools/importers/samples/sample.yaml
  tools/importers/yaml.js
Labels: none

Add Damerau-Levenshtein fuzzy search with suggestions and tests
  assets/js/damerau.js
  assets/js/search.js
  index.html
  package.json
  script.js
  search.html
  tests/damerau-levenshtein.test.js
Labels: site, a11y

feat: improve search ranking with BM25
  assets/js/bm25.js
  assets/js/search.js
  index.html
  scripts/evaluate_search.js
  search.html
  tests/search_test.json
Labels: site, a11y

feat: boost search by last update
  assets/js/search.js
  terms.json
Labels: content

Add search analytics logging and summaries
  .gitignore
  assets/js/search.js
  index.html
  package.json
  scripts/daily-summary.js
  scripts/log-server.js
Labels: site, a11y

feat: add search suggestions
  assets/js/search.js
  index.html
  package.json
  scripts/generate-suggestions.js
  scripts/verify-suggestions.js
  search.html
  suggestions.json
Labels: site, a11y

Add selection search side panel
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add sharable session URLs
  index.html
  script.js
Labels: site, a11y

Add term lifecycle policy and stage metadata
  data/terms.yaml
  docs/lifecycle.html
  index.html
  script.js
  templates/layout.html
  terms.json
Labels: content, site, a11y

Add versioned legal pages and footer selector
  disclaimer-v2.html
  docs/legal/disclaimer-v1.html
  docs/legal/legal-v1.html
  index.html
  layout.html
  legal-v2.html
  templates/layout.html
Labels: site, a11y

Add accessibility statement and footer links
  accessibility.html
  index.html
  search.html
  templates/layout.html
Labels: site, a11y

Add STRIDE threat model and link
  README.md
  docs/threat-model.md
  index.html
Labels: site, a11y

Schedule backup restore for preview
  .github/workflows/restore-preview.yml
  DRILL_LOG.md
Labels: none

docs: add trademark guideline and linter
  package.json
  scripts/lint-marks.js
  templates/guidelines.html
Labels: site, a11y

docs: add deployment runbook
  CONTRIBUTING.md
  docs/runbook.md
Labels: none

Add external domain allowlist policy and CI check
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  check-allowed-domains.js
  docs/allowed-domains.json
  docs/vendor-policy.md
  package.json
Labels: none

feat: add runtime feature flags
  flags.json
  index.html
  script.js
Labels: site, a11y

Add basic A/B experiment banner
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add versioned dictionary data package
  .github/workflows/release.yml
  packages/cyber-dictionary-data/LICENSE
  packages/cyber-dictionary-data/README.md
  packages/cyber-dictionary-data/package.json
  packages/cyber-dictionary-data/terms.json
Labels: none

chore: add codemod fixer and pre-commit
  .pre-commit-config.yaml
  package-lock.json
  package.json
  scripts/fix.js
  terms.json
Labels: content

Generate graph with centrality metrics
  build.js
  graph.json
  index.html
  package-lock.json
  package.json
Labels: site, a11y

Add interactive prerequisite graph visualization
  assets/js/prereq-graph.js
  index.html
  prereq-graph.html
Labels: site, a11y

Add term clustering with k-means
  build.js
  clusters.json
  package.json
Labels: site

chore: add spellcheck workflow
  .cspell.json
  .github/workflows/ci.yml
  cspell-project-dictionary.txt
  package.json
Labels: none

Add technique filters and validation
  index.html
  script.js
  styles.css
  terms.json
  validate-techniques.js
Labels: content, site, a11y

Collect performance metrics and add diagnostics page
  .gitignore
  assets/js/diagnostics.js
  assets/js/metrics.js
  diagnostics.html
  diagnostics.test.js
  index.html
  layout.html
  package-lock.json
  package.json
  search.html
Labels: site, a11y

deploy: de16063d63b0eaf7526048ee79522cf4095b258a
  .gitignore
  assets/js/diagnostics.js
  assets/js/metrics.js
  diagnostics.html
  diagnostics.test.js
  index.html
  layout.html
  package-lock.json
  package.json
  search.html
Labels: site, a11y

Add outdated terms dashboard
  dashboard.html
  data/terms.yaml
  scripts/build.js
Labels: content

Add search analytics processing and dashboard
  README.md
  analytics.html
  analytics/analytics.json
  assets/js/analytics-dashboard.js
  data/query-log.json
  package.json
  scripts/updateAnalytics.js
Labels: content

Add dashboard charts and counts
  assets/js/dashboard.js
  counts.json
  dashboard.html
  dashboard.test.js
  data/terms.yaml
  package.json
  scripts/build.js
  terms.json
Labels: content
