Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

feat: add clipboard term preview
  src/components/ClipboardPreview.tsx
Labels: none

feat: style pull quote with theme
  src/tools/PullQuoteGenerator.tsx
Labels: none

feat: harden sort toolbar persistence
  src/components/SortToolbar.tsx
Labels: none

feat: add offline cache collections
  index.html
  script.js
  src/service-worker.js
  sw.js
Labels: site, a11y

feat: add swipe navigation for term page
  app/terms/[slug]/page.tsx
Labels: none

fix: reset alphabet grid focus on term updates
  src/components/AlphabetGrid.tsx
Labels: none

Add print styles and TOC for printed terms
  index.html
  script.js
  src/styles/print.css
  templates/layout.html
Labels: site, a11y

feat: add dual locale term page with synchronized scrolling
  src/pages/TermPage.tsx
Labels: none

feat: add onboarding checklist
  src/features/onboarding/Checklist.tsx
Labels: none

feat: add link preview on hover
  src/components/LinkPreviewCard.tsx
  src/features/linkPreview/index.ts
Labels: none

refactor middleware for Next.js
  middleware.ts
Labels: none

feat(notes): add passphrase key derivation constants
  src/features/notes/Encryption.ts
Labels: none

feat: add settings backup import/export
  src/settings/DiffPreview.tsx
  src/settings/ExportImport.tsx
  src/settings/index.tsx
  src/utils/exportImport.ts
Labels: none

refactor compare page to server component and validate terms
  app/compare/[a]-vs-[b]/CompareClient.tsx
  app/compare/[a]-vs-[b]/page.tsx
Labels: none

chore: configure CSP headers via Next
  middleware.ts
  next.config.js
Labels: none

chore: remove RAG evaluation scripts and logs
  .github/workflows/rag-eval.yml
  README.md
  logs/.gitignore
  scripts/rag-eval-requirements.txt
  scripts/rag_eval.py
Labels: none

chore: remove build pipeline and term sources
  build.sh
  data/terms.yaml
  package.json
  scripts/build.js
  templates/contribute.html
  terms/cve.html
  terms/cvss.html
  terms/cwe.html
  terms/mitre-attack.html
  terms/nvd.html
  terms/owasp-top-10.html
Labels: content, site, a11y

Remove legacy service worker
  assets/js/app.js
  index.html
  src/components/SwUpdateToast.tsx
  sw.js
  templates/layout.html
Labels: site, a11y

Add guided tour with replay option
  package-lock.json
  package.json
  src/components/ShortcutCheatsheet.tsx
  src/features/tour/GuidedTour.tsx
Labels: none

Use Next Script for JSON-LD structured data
  app/components/FAQBlock.tsx
  app/terms/[slug]/page.tsx
Labels: none

refactor: render term pages from YAML
  app/terms/[slug]/page.tsx
  terms/cve.html
  terms/cvss.html
  terms/cwe.html
  terms/mitre-attack.html
  terms/nvd.html
  terms/owasp-top-10.html
Labels: none

Add responsive Navbar and include in layout
  app/layout.tsx
  components/Navbar.tsx
Labels: none

feat: add search API and component
  app/api/search/route.ts
  app/components/SearchInput.tsx
Labels: none

deploy: a5077efb57cf45fe3ddd953f0ab7ccd23c2131aa
  app/api/search/route.ts
  app/components/SearchInput.tsx
  src/components/ClipboardPreview.tsx
Labels: none

deploy: 2c47ce5d4cb7524d5ca52cf9add5c3f1ec910f90
  src/components/CopyPresetSelect.tsx
  src/tools/SecurityHeadersComposer.tsx
Labels: none

deploy: 522b689eedb66f46cbd589b60081889cc83103a4
  app/layout.tsx
  app/terms/[slug]/page.tsx
  components/Navbar.tsx
  terms/cve.html
  terms/cvss.html
  terms/cwe.html
  terms/mitre-attack.html
  terms/nvd.html
  terms/owasp-top-10.html
Labels: none

deploy: f1b870f6bc91ae7c5153e11f9ebad6ba181122a7
  assets/js/app.js
  index.html
  package-lock.json
  package.json
  src/components/ShortcutCheatsheet.tsx
  src/components/SwUpdateToast.tsx
  src/features/tour/GuidedTour.tsx
  sw.js
  templates/layout.html
Labels: site, a11y

deploy: 10804666b1034a36a8c24119a763695ca98cafeb
  build.sh
  data/terms.yaml
  package.json
  scripts/build.js
  templates/contribute.html
Labels: content, site, a11y

deploy: aa66e22bc62ebf00ba10b0bc3119575d3e9822b0
  README.md
  app/compare/[a]-vs-[b]/CompareClient.tsx
  app/compare/[a]-vs-[b]/page.tsx
  logs/.gitignore
  middleware.ts
  next.config.js
  scripts/rag-eval-requirements.txt
  scripts/rag_eval.py
  src/settings/DiffPreview.tsx
  src/settings/ExportImport.tsx
  src/settings/index.tsx
  src/utils/exportImport.ts
Labels: none

deploy: 7ec8fa460065e6be120b610e123674ba5d74f437
  src/settings/DiffPreview.tsx
  src/settings/ExportImport.tsx
  src/settings/index.tsx
  src/utils/exportImport.ts
Labels: none

deploy: a26968cca14a0958e891b4b02e491d42aad4d42c
  src/features/notes/Encryption.ts
  src/settings/DiffPreview.tsx
  src/settings/ExportImport.tsx
  src/settings/index.tsx
  src/utils/exportImport.ts
Labels: none

deploy: 7e9065e83ad3a3a397611ac965190d6405dddd9b
  src/components/LinkPreviewCard.tsx
  src/features/linkPreview/index.ts
Labels: none

deploy: 944c35d2f82eeaa0c8589dea5069a7b82356fbb4
  index.html
  script.js
  src/features/onboarding/Checklist.tsx
  src/styles/print.css
  src/tools/PullQuoteGenerator.tsx
  templates/layout.html
Labels: site, a11y

deploy: 00a1be61a7877b9048393cd859defacc4578c777
  src/components/AlphabetGrid.tsx
  src/pages/TermPage.tsx
Labels: none

deploy: 5ddf0672a0a3687c0bbd98f80459100b2f628b99
  src/components/AlphabetGrid.tsx
  src/pages/TermPage.tsx
  src/tools/PullQuoteGenerator.tsx
Labels: none

deploy: 58458157fe8006190655504c2f8f455877c554c8
  src/components/AlphabetGrid.tsx
  src/components/SortToolbar.tsx
  src/pages/TermPage.tsx
  src/tools/PullQuoteGenerator.tsx
Labels: none

deploy: 286976e2da586453edbb321a6830992f8a01ff13
  assets/js/pro.js
  index.html
  search.html
  settings.html
Labels: site, a11y

deploy: c1a6c5e90478fbadbad016ed5000ae8e4c459324
  src/features/settings/SettingsIndex.ts
  src/settings/SettingsPage.tsx
Labels: none

deploy: bc9912232423a6825902f8c9797160d0dc5e2967
  src/features/highlights/HighlightsDrawer.tsx
Labels: none

deploy: 9241938f55118c1e78fe192a4785f0b6a3bc4d62
  script.js
  styles.css
Labels: site
