Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

deploy: dd517b49da46854ff673785abb9a2d1c1e1d4001
  src/components/ReadingControls.tsx
Labels: none

deploy: 68c33977cbdeba45f77a5750134a5493b4c35f36
  src/components/QuickJumpPopover.tsx
Labels: none

deploy: 7084e19d1df66c7dfbc81ce793c7fdda4c651806
  src/components/ShortcutCheatsheet.tsx
Labels: none

deploy: 188b8c0b6637f9b0acaea57987e941bfc9741435
  assets/js/canvas-demo.js
  assets/js/canvas-worker.js
  canvas.html
Labels: none

deploy: bee5f493ec0b875586914ec1a5e48bc8f181ca5e
  assets/js/preconnect.js
  diagnostics.html
  index.html
  search.html
Labels: site, a11y

deploy: dadf2d7938598674612d3f3095f3a2606a93aa4c
  app/compare/[a]-vs-[b]/page.module.css
  app/compare/[a]-vs-[b]/page.tsx
Labels: none

deploy: c128d956e1c5a54f22b3cc4dbb35241dd8d51765
  components/AttackWalkthrough.tsx
Labels: none

deploy: 13483b7322ffa756358ba6d23e28b62502e0bc86
  middleware.ts
  search.html
  templates/layout.html
Labels: site, a11y

deploy: e5b2cac395af279cab22a76fbd8523f747e5932b
  THREAT_MODEL.md
Labels: none

deploy: 283c781972978a0fe46756181ba29bd38bb94faf
  README.md
  logs/.gitignore
  scripts/rag-eval-requirements.txt
  scripts/rag_eval.py
Labels: none

deploy: 7356a157a7f7968f45ba9ac5d5ac249254619a3e
  .gitignore
  .pre-commit-config.yaml
  SECURITY.md
Labels: none

deploy: 309347de04ebdb442a46d3c88690eb9b90e05782
  assets/js/chat-app.js
  assets/js/useChat.js
  chat.html
Labels: none

deploy: 85450dd43727595ad43c250d0fe9dd09ea972bb8
  build.js
  components/ProvenanceFooter.tsx
  data/terms.yaml
  scripts/build.js
  terms/cve.html
  terms/cvss.html
  terms/cwe.html
  terms/mitre-attack.html
  terms/nvd.html
  terms/owasp-top-10.html
Labels: content, site

deploy: 4f5a21ef550362fc7256e217703d6d906bc39297
  components/Modal.tsx
Labels: none

deploy: 188c8af16ee76186097af5ce9e818270818adcd3
  app/components/FAQBlock.tsx
  app/terms/[slug]/page.tsx
Labels: none

deploy: e03b2549413f541ab5d5fa96ee9b5bb6009bff3c
  components/TOC.tsx
Labels: none

deploy: bb2a117034383f4f5bc2e55db9b1dda3ec221103
  components/button.ts
  components/input.ts
  components/interactive.ts
  components/link.ts
  styles/animations.ts
Labels: none

deploy: d40778dc97550d6358ddfbf7a6c4b7770dc916e5
  components/TermCard.tsx
Labels: none

feat: add interactive document minimap
  src/components/Minimap.tsx
Labels: none

feat: enhance standards table interactivity
  src/components/StandardsTable.tsx
Labels: none

feat: add accessibility checker tool
  package-lock.json
  package.json
  src/tools/AccessibilityChecker.tsx
Labels: none

feat: notify service worker updates
  assets/js/app.js
  src/components/SwUpdateToast.tsx
Labels: none

feat: add interactive diagram pins
  src/components/DiagramViewer.tsx
Labels: none

feat: add accessible on-screen keyboard
  assets/js/keyboard.js
  assets/js/search.js
  search.html
  styles.css
Labels: site

refactor: centralize citation url builder
  src/tools/CitationBuilder.ts
Labels: none

feat: allow choosing copy preset
  src/components/CopyPresetSelect.tsx
  src/tools/SecurityHeadersComposer.tsx
Labels: none

feat: smooth hash link scroll with highlight
  script.js
  styles.css
Labels: site

feat(history): implement basic undo stack
  src/features/history/UndoManager.ts
Labels: none

feat: add column view toggle
  index.html
  script.js
  styles.css
Labels: site, a11y

Add interactive abbreviation expansion
  script.js
  styles.css
Labels: site

feat: linkable text selections
  script.js
  styles.css
Labels: site

feat: add highlights drawer with color filter
  src/features/highlights/HighlightsDrawer.tsx
Labels: none

feat: add settings search index
  src/features/settings/SettingsIndex.ts
  src/settings/SettingsPage.tsx
Labels: none

feat: add g-based navigation shortcuts
  assets/js/app.js
  src/components/ShortcutCheatsheet.tsx
Labels: none

feat(settings): add motion level panel
  script.js
  src/settings/MotionLevel.tsx
  styles.css
Labels: site

Create reading queue store
  app/terms/[slug]/page.tsx
  src/features/queue/ReadingQueue.ts
Labels: none

feat: add pro mode toggle
  assets/js/pro.js
  index.html
  search.html
  settings.html
Labels: site, a11y

feat: add settings reset with undo
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add settings reset with undo
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add link preview on hover
  src/components/LinkPreviewCard.tsx
  src/features/linkPreview/index.ts
Labels: none

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'
