Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Fix CIDR HTML validation issues
  assets/js/cidr.js
  cidr.html
  styles.css
Labels: site

feat: add regex tester page assets
  assets/js/regex.js
  package.json
  regex.html
  styles.css
Labels: site

Add encoding tools with tabbed interface
  assets/js/tools.js
  styles.css
  tools.html
Labels: site

feat: add alias management for search
  assets/js/search.js
  search.html
Labels: site

feat: add term rating and difficulty filter
  assets/js/search.js
  build.js
  script.js
  search.html
Labels: site

Add terminal component with typewriter and offline support
  assets/js/terminal.js
  assets/terminal-content.txt
  index.html
  styles.css
  sw.js
Labels: site, a11y

Add study tracking with calendar heatmap
  index.html
  script.js
  styles.css
  sw.js
Labels: site, a11y

Add Pomodoro timer with reading queue integration
  assets/js/pomodoro.js
  diagnostics.html
  index.html
  script.js
  search.html
  styles.css
Labels: site, a11y

feat: add shuffle control for terms
  index.html
  layout.html
  script.js
Labels: site, a11y

Add presentation mode with keyboard navigation
  index.html
  script.js
  styles.css
Labels: site, a11y

chore: provide sample translation data
  script.js
  styles.css
  translations.json
Labels: site

Add paragraph highlighting with drawer
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Add streak tracking with celebration and reduced-motion checks
  assets/js/streaks.js
  index.html
  styles.css
  sw.js
Labels: site, a11y

feat: add accessible anchor links
  script.js
  styles.css
Labels: site

feat: remember scroll position
  assets/js/app.js
  assets/js/search.js
  script.js
  search.html
Labels: site

feat: add image annotation tool with export and persistence
  annotator.html
  annotator.js
  styles.css
Labels: site

feat: add metadata update workflow
  index.html
  script.js
  sw.js
Labels: site, a11y

feat: add quick links modal
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add snapshot management
  assets/js/snapshots.js
  index.html
Labels: site, a11y

Add lite mode toggle to disable heavy media
  assets/js/performance.js
  diagnostics.html
  index.html
  search.html
  styles.css
Labels: site, a11y

Add section capture with html2canvas
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add lightbox with captions and navigation
  index.html
  layout.html
  lightbox.js
  styles.css
Labels: site, a11y

feat: add configurable keyboard shortcuts
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add monospace reading mode
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add movable focus line with toggle
  assets/js/focus-line.js
  index.html
  search.html
  styles.css
Labels: site, a11y

Add density toggle with persistent spacing variables
  diagnostics.html
  index.html
  layout.html
  script.js
  search.html
  styles.css
Labels: site, a11y

Improve definition dismissal to allow share UI
  index.html
  manifest.json
  script.js
  sw.js
Labels: site, a11y

Add preset management with sharable filters
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add local rating widget
  script.js
  styles.css
Labels: site

Add CSV import wizard
  assets/js/import.js
  import.html
  package.json
Labels: none

Add temporary page settings panel
  index.html
  script.js
  styles.css
Labels: site, a11y

Add live filter sidebar
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: implement custom find overlay
  assets/js/find.js
  diagnostics.html
  index.html
  search.html
  styles.css
Labels: site, a11y

feat: add paste sanitizer tool
  assets/js/sanitize.js
  sanitize.html
Labels: none

feat: reorder sidebar items with drag and keyboard
  index.html
  layout.html
  script.js
Labels: site, a11y

Add category sunburst visualization
  assets/js/sunburst.js
  categories.html
  index.html
Labels: site, a11y

feat: handle service worker updates
  assets/js/app.js
  src/components/SwUpdateToast.tsx
  sw.js
Labels: site

feat: add share builder modal and highlight
  script.js
  src/components/ShareBuilder.tsx
  styles.css
Labels: site

feat: add selection manager with persistence
  src/features/selection/SelectionContext.tsx
  src/features/selection/SelectionToolbar.tsx
  src/features/selection/index.ts
  src/features/selection/useMarquee.ts
Labels: none

feat: add searchable settings page
  assets/js/settings-index.js
  assets/js/settings.js
  settings.html
  src/features/settings/SettingsIndex.ts
  styles.css
Labels: site
