Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

feat: animate term cards on first view
  components/TermCard.tsx
Labels: none

feat: add related graph component
  app/terms/[slug]/page.tsx
  components/RelatedGraph.tsx
  package-lock.json
  package.json
Labels: none

feat: add lottie loop component
  assets/lottie/recon.json
  components/LottieLoop.tsx
  components/attackChainAnimations.ts
  package.json
Labels: none

Add bundle size budget script
  .github/workflows/ci.yml
  build-budget.js
  package.json
Labels: none

feat: add performant TOC component
  components/TOC.tsx
Labels: none

Add glossary page with static pre-rendering
  app/glossary/TermsList.tsx
  app/glossary/page.tsx
  app/layout.tsx
  app/page.tsx
  next-env.d.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: none

feat: add accessible modal with focus trap
  components/Modal.tsx
Labels: none

feat: add animated breadcrumbs and section titles
  components/Breadcrumbs.tsx
  components/SectionTitle.tsx
  package-lock.json
  package.json
Labels: none

test: verify RTL animation variable
  rtl.test.js
  script.js
  styles.css
Labels: site

feat: add JSON-LD schema for term pages and FAQ
  app/components/FAQBlock.tsx
  app/terms/[slug]/page.tsx
Labels: none

Refactor scrolling UI for better performance
  components/scroll-to-top.js
  docs/motion-audit.md
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add JSON-LD schema for term pages and FAQ
  app/components/FAQBlock.tsx
  app/terms/[slug]/page.tsx
Labels: none

feat: add JSON-LD schema for term pages and FAQ
  app/components/FAQBlock.tsx
  app/terms/[slug]/page.tsx
Labels: none

Add contentlayer schema and CI validation
  .github/workflows/ci.yml
  .gitignore
  content/acronyms/.gitkeep
  content/sources/.gitkeep
  content/terms/.gitkeep
  contentlayer.config.ts
  next.config.js
  package-lock.json
  package.json
Labels: none

feat: add revision management UI
  assets/js/revision.js
  data/terms.yaml
  package.json
  revision.html
  script.js
  terms.json
Labels: content, site

feat: add version history support
  assets/js/search.js
  script.js
  terms.json
Labels: content, site

Add content linting and link checks
  build.js
  check-links.js
  lint.js
  package-lock.json
  package.json
Labels: site

feat: add locale-specific term variants
  assets/js/search.js
  build.js
  data/terms.yaml
  script.js
  terms.json
Labels: content, site

feat: add locale sitemaps and canonical tags
  build.js
  diagnostics.html
  package.json
  scripts/generate-sitemaps.js
  search.html
  sitemap-en.xml
  sitemap-es.xml
  sitemap-fr.xml
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
Labels: site, a11y

Add provenance footer for term pages
  build.js
  components/ProvenanceFooter.tsx
  data/terms.yaml
  scripts/build.js
  terms/cve.html
  terms/cvss.html
  terms/cwe.html
  terms/mitre-attack.html
  terms/nvd.html
  terms/owasp-top-10.html
Labels: content, site

feat: add chat interface
  assets/js/chat-app.js
  assets/js/useChat.js
  chat.html
Labels: none

Stream sources before text output
  assets/js/streaming.js
  index.html
  package.json
  server.js
  styles.css
Labels: site, a11y

Add streamable server action with progress UI
  package.json
  progress.html
  progress.js
  stream-server.mjs
Labels: none

Add nightly RAG evaluation with RAGAS
  .github/workflows/rag-eval.yml
  README.md
  logs/.gitignore
  scripts/rag-eval-requirements.txt
  scripts/rag_eval.py
Labels: none

Add security middleware and tests
  assets/js/search.js
  assets/js/security.js
  index.html
  package.json
  script.js
  search.html
  security.test.js
  styles.css
Labels: site, a11y

feat: add citation links for term responses
  assets/js/search.js
  script.js
Labels: site

Add learn path chat feature with progress persistence
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add detail slider for explanations and motion
  index.html
  script.js
  styles.css
Labels: site, a11y

Add security headers middleware and docs
  docs/security.md
  middleware.ts
Labels: none

Add threat model document
  THREAT_MODEL.md
Labels: none

feat: add CSP nonce middleware and report handling
  middleware.ts
  search.html
  templates/layout.html
Labels: site, a11y

feat: add Redis rate limiter
  app/api/chat/route.ts
  package-lock.json
  package.json
  scripts/abuse-sim.ts
Labels: none

chore: add gitleaks pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  SECURITY.md
Labels: none

feat: queue notes offline with background sync
  index.html
  script.js
  sw.js
Labels: site, a11y

feat: add web push notifications
  components/Notifications.tsx
  data/subscriptions.json
  package-lock.json
  package.json
  server/actions.ts
  server/notifications.ts
  sw.js
Labels: content, site

Detect low motion and offline state
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Add source badges using term metadata
  script.js
  styles.css
  terms.json
Labels: content, site

Add difficulty levels and prerequisites
  assets/js/search.js
  index.html
  script.js
  search.html
  terms.json
Labels: content, site, a11y

Add accessible AttackWalkthrough animation component
  components/AttackWalkthrough.tsx
Labels: none

feat: enhance search with fuzzy phonetic matching
  assets/js/search-core.js
  assets/js/search.js
  package-lock.json
  package.json
  search.html
  search.test.js
  terms.json
Labels: content, site
