Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

Add generated contributors page
  build.sh
  contributors.html
  index.html
  scripts/contributors.js
Labels: site, a11y

Create roadmap template and milestone script
  assets/js/roadmap.js
  index.html
  templates/roadmap.html
Labels: site, a11y

Add feedback widget with GitHub issue reporting
  .gitignore
  assets/js/feedback.js
  index.html
  layout.html
  package.json
  styles.css
  templates/layout.html
  test/feedback.test.js
Labels: site, a11y

Add share CTA with frequency cap
  assets/icons/facebook.svg
  assets/icons/linkedin.svg
  assets/icons/twitter.svg
  index.html
  script.js
  styles.css
Labels: site, a11y

Add Code of Conduct and reference in docs
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
Labels: none

docs: add template usage instructions
  README.md
Labels: none

docs: add status badges
  README.md
  index.html
Labels: site, a11y

Add support link and funding metadata
  .github/FUNDING.yml
  index.html
  styles.css
  templates/layout.html
Labels: site, a11y

feat: add framework metadata and filtering
  index.html
  script.js
  terms.json
Labels: content, site, a11y

Ignore node modules
  .gitignore
  index.html
  styles.css
  templates/incident-response-pack.html
Labels: site, a11y

Add cloud provider tags and filtering
  index.html
  script.js
  terms.json
Labels: content, site, a11y

Add malware and analysis terms
  terms.json
Labels: content

Add network defense terms and improve accessibility
  index.html
  terms.json
Labels: content, site, a11y

Add IAM terms and tag filter
  index.html
  script.js
  terms.json
Labels: content, site, a11y

Add AppSec terms and filter
  .gitignore
  index.html
  script.js
  terms.json
Labels: content, site, a11y

Add detection engineering terms and validate references
  data/terms.yaml
  index.html
  scripts/build.js
  terms.json
Labels: content, site, a11y

Include shortcuts script
  assets/js/shortcuts.js
  index.html
  layout.html
  search.html
  styles.css
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

Add term definition diff highlighting
  diffUtil.js
  diffUtil.test.js
  index.html
  script.js
  styles.css
  terms.json
Labels: content, site, a11y

Add Konami code easter egg terminal
  assets/js/konami.js
  index.html
  styles.css
  tests/konami.test.js
Labels: site, a11y

Persist scroll and filters across navigation
  index.html
  script.js
Labels: site, a11y

Add detection engineering terms and validate references
  data/terms.yaml
  index.html
  scripts/build.js
  terms.json
Labels: content, site, a11y

Add detection engineering terms and validate references
  data/terms.yaml
  index.html
  scripts/build.js
  terms.json
Labels: content, site, a11y

Include shortcuts script
  assets/js/shortcuts.js
  index.html
  layout.html
  search.html
  styles.css
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

Add contradiction check for dictionary
  .github/workflows/ci.yml
  scripts/check-terms.js
Labels: none

Linkify standard references and check links
  .github/workflows/ci.yml
  build.js
  scripts/check-links.js
  scripts/standard-links.js
Labels: site

Add clustered topic pages and navigation
  clusters.json
  index.html
  scripts/generate-topics.js
  templates/topic.html
  topics/attack-techniques.html
  topics/cryptography-encryption.html
  topics/defense-operations.html
Labels: site, a11y

Export graph data and add downloads
  .gitignore
  data/graph.csv
  data/graph.graphml
  graph.json
  index.html
  scripts/convert-graph.js
  templates/data.html
Labels: content, site, a11y

feat: add term selection lookup
  assets/js/selection.js
  graph.json
  index.html
  layout.html
  search.html
  templates/layout.html
Labels: site, a11y

Add calendar page and monthly planning data
  .gitignore
  calendar.json
  index.html
  templates/calendar.html
Labels: site, a11y

Add workflow to assign reviewers based on domain labels
  .github/workflows/assign-reviewers.yml
Labels: none

Add term source and access date lint
  .gitignore
  CONTRIBUTING.md
  data/terms.yaml
  index.html
  package.json
  scripts/lint-terms.js
Labels: content, site, a11y

Add readability grade CLI and CI comment
  .github/workflows/ci.yml
  .gitignore
  scripts/readability.py
Labels: none

Add post-merge hook for changelog
  .githooks/post-merge
  CHANGELOG.md
Labels: none

Enforce PR checklist via GitHub Action
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-checklist.yml
Labels: none

Add CI image size checker
  .github/workflows/ci.yml
  .gitignore
  index.html
  package.json
  scripts/check-images.mjs
Labels: site, a11y

feat: add study planner with queue
  index.html
  planner.html
  planner.js
Labels: site, a11y

feat: add calendar export for review plan
  assets/js/review-ics.js
  ics.test.js
  index.html
  package-lock.json
  package.json
  script.js
Labels: site, a11y

Add interactive scenarios and link from terms
  components/ScenarioSteps.mdx
  index.html
  scenarios/malvertising-data-loss.mdx
  scenarios/phishing-email-incident.mdx
  scenarios/soc-incident-response.mdx
  scenarios/xss-attack.mdx
  scenarios/zero-day-exploit.mdx
  script.js
  terms.json
Labels: content, site, a11y

Add practice labs page with filtering
  index.html
  labs/index.html
  labs/labs.js
Labels: site, a11y

Add bias language check and allowlist
  .github/workflows/ci.yml
  .gitignore
  package.json
  scripts/bias-allowlist.json
  scripts/check-bias.js
Labels: none

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'
