Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

Add bundles page with print and export endpoints
  bundles.html
  bundles.js
  bundles.json
  index.html
  package-lock.json
  package.json
  server.js
Labels: site, a11y

add adjustable typography settings
  assets/js/prefs.js
  index.html
  layout.html
  search.html
  styles.css
Labels: site, a11y

feat: add dyslexic font toggle
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add theme selector with system preference
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add rtl language support
  assets/js/rtl.js
  diagnostics.html
  index.html
  layout.html
  search.html
  styles.css
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

feat: add ARIA attributes to search
  assets/js/search.js
  search.html
Labels: site

docs: add accessibility guide
  ACCESSIBILITY.md
  README.md
  script.js
Labels: site

Add shimmering placeholders during data fetch
  script.js
  styles.css
Labels: site

Add skip links and ARIA landmarks
  index.html
  layout.html
  search.html
  styles.css
Labels: site, a11y

feat: add MotionConfig default transition
  app/layout.tsx
  package-lock.json
  package.json
Labels: none

Add reduced motion support and settings
  assets/css/style.css
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: centralize motion tokens
  assets/css/style.css
  assets/js/motion.js
  diagnostics.html
  index.html
  layout.html
  search.html
  styles.css
  tokens/motion.js
  tokens/motion.ts
Labels: site, a11y

docs: add motion audit
  docs/a11y-motion-audit.md
Labels: none

Ensure keyboard focus visible during animations
  assets/css/style.css
  script.js
  styles.css
Labels: site

feat: detect slow interactions
  assets/js/gpu.js
  diagnostics.html
  index.html
  search.html
  styles.css
Labels: site, a11y

Add router progress bar with motion tokens
  assets/js/progress.js
  index.html
  package.json
  progressbar.test.js
  search.html
  styles.css
Labels: site, a11y

Animate term card expansion with view transitions
  script.js
Labels: site

Add section-level animations with AnimatePresence
  assets/js/definition-react.js
  index.html
  script.js
Labels: site, a11y

Reserve definition space with opacity reveal
  README.md
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Animate term list on view
  index.html
  script.js
Labels: site, a11y

feat: animate search input and dropdown
  assets/js/search.js
  index.html
  layout.html
  script.js
  search.html
Labels: site, a11y

Add chip keyboard activation test
  chip.test.js
  package.json
  script.js
  styles.css
Labels: site

feat: virtualize term list with react
  index.html
  package-lock.json
  package.json
  script.js
Labels: site, a11y

Add view-mode grid transitions
  index.html
  script.js
  styles.css
Labels: site, a11y

Add animated accordion with reduced-motion support
  accordion.test.js
  assets/js/accordion.js
  index.html
  package.json
  script.js
  styles.css
Labels: site, a11y

Add term reveal animations
  script.js
  styles.css
Labels: site

feat: add see also chips and source links
  script.js
  styles.css
  terms.json
Labels: content, site

feat: fade in diagrams within term details
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add copy and highlight feedback
  script.js
  styles.css
Labels: site

Add animated NIST and OWASP badges
  index.html
  styles.css
Labels: site, a11y

Add reusable press effect for buttons
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Fade in focus outlines
  assets/css/style.css
  styles.css
Labels: site

Add accessible share sheet with reduced-motion support
  index.html
  script.js
  styles.css
Labels: site, a11y

Add reduced-motion E2E tests and CLS check
  .github/workflows/ci.yml
  e2e/reduced-motion.spec.js
  index.html
  package-lock.json
  package.json
  playwright.config.js
  script.js
  styles.css
Labels: site, a11y

feat: add vercel analytics tracking
  diagnostics.html
  index.html
  layout.html
  script.js
  search.html
  templates/about.html
  templates/contribute.html
  templates/guidelines.html
  templates/layout.html
Labels: site, a11y

Add reduced-motion E2E tests and CLS check
  .github/workflows/ci.yml
  e2e/reduced-motion.spec.js
  index.html
  package-lock.json
  package.json
  playwright.config.js
  script.js
  styles.css
Labels: site, a11y

chore: update next and add instrumentation
  instrumentation.js
  package-lock.json
  package.json
Labels: none

feat: add web vitals analytics
  assets/js/metrics.js
  index.html
  layout.html
  package-lock.json
  package.json
  search.html
Labels: site, a11y

Add motion audit report
  MOTION_AUDIT.md
  assets/css/style.css
  script.js
  styles.css
Labels: site

feat: add animation tokens and interactive components
  components/button.ts
  components/input.ts
  components/interactive.ts
  components/link.ts
  styles/animations.ts
Labels: none

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'
