Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

feat: add comparison page with diff highlighting
  app/compare/[a]-vs-[b]/page.module.css
  app/compare/[a]-vs-[b]/page.tsx
Labels: none

feat: add author dashboard and duplicate merge logic
  author.html
  author.js
Labels: none

feat: add animation ab testing
  script.js
  styles.css
Labels: site

Add animation analytics and dashboard
  assets/js/animation-metrics.js
  assets/js/diagnostics.js
  diagnostics.html
  diagnostics.test.js
  index.html
  script.js
Labels: site, a11y

Add motion debug overlay activated by query parameter
  assets/js/motion-debug.js
  script.js
Labels: site

Add digest tracking and email notifications
  index.html
  script.js
  styles.css
Labels: site, a11y

Add will-change helper and tests
  index.html
  package.json
  script.js
  will-change.js
  will-change.test.js
Labels: site, a11y

feat: support pointer-based interaction styles
  script.js
  styles.css
Labels: site

feat: add delayed hover hook
  assets/js/hover-delay.js
  hover-delay.test.js
  index.html
  layout.html
  package.json
  script.js
  styles.css
Labels: site, a11y

feat: throttle scroll tasks with RAF
  script.js
Labels: site

Add centralized spring presets and validation with tests
  assets/js/spring.js
  assets/js/springPresets.js
  package.json
  spring.test.js
Labels: none

Prefetch with speculation rules and track TTI
  assets/js/diagnostics.js
  assets/js/metrics.js
  diagnostics.html
  diagnostics.test.js
  index.html
  layout.html
  search.html
Labels: site, a11y

feat: add pointer tilt effect
  script.js
  styles.css
Labels: site

Animate list icons with staggered timings
  script.js
  styles.css
Labels: site

Add theme-aware skeleton tokens
  assets/css/style.css
  script.js
  styles.css
Labels: site

Prefetch next routes and track cache hits
  assets/js/app.js
  diagnostics.html
  search.html
  sw.js
Labels: site

feat: integrate conic spinner across app
  assets/js/search.js
  assets/js/spinner.js
  index.html
  script.js
  search.html
  styles.css
Labels: site, a11y

Improve accessibility for animated state indicators
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: respect reduced transparency preference
  script.js
  styles.css
Labels: site

Ensure focus rings visible with high-contrast tests
  focus-ring.test.js
  package.json
  styles.css
Labels: site

Add high contrast media queries for accessibility
  assets/css/style.css
  styles.css
Labels: site

feat: add ripple effect for buttons
  script.js
  styles.css
Labels: site

feat: add pull-to-refresh indicator
  assets/js/pull-indicator.js
  index.html
  package.json
  pull-indicator.test.js
  search.html
  styles.css
Labels: site, a11y

Use safe-area env for fixed elements
  assets/css/style.css
  styles.css
Labels: site

Implement token stream scheduler with controlled delay variance
  assets/js/tokenScheduler.js
  package.json
  tokenScheduler.test.js
Labels: none

feat: add swipe-safe drawer with toggle
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Add retry bubble with countdown backoff
  script.js
  styles.css
Labels: site

Provide haptics utility with reduced-motion support
  assets/js/haptics.js
  assets/js/search.js
  index.html
  script.js
  search.html
Labels: site, a11y

feat: add citation grouping with highlight
  script.js
  styles.css
Labels: site

feat: add message classifier chips
  index.html
  script.js
  styles.css
Labels: site, a11y

Add animated search highlights and scrollbar markers
  index.html
  script.js
  styles.css
Labels: site, a11y

Add collapsible dock with persistent state
  assets/js/dock.js
  index.html
  layout.html
  styles.css
Labels: site, a11y

Store per-thread display preferences
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Add inline diff highlighting with fade and reduced-motion fallback
  script.js
  styles.css
Labels: site

feat: add tactic mapping panel
  index.html
  mapping.json
  script.js
  styles.css
Labels: site, a11y

feat: add anchor pulse animation
  script.js
  styles.css
Labels: site

Log host usage and preconnect to frequent hosts
  assets/js/preconnect.js
  diagnostics.html
  index.html
  search.html
Labels: site, a11y

feat: queue DOM reads and writes
  index.html
  layout.html
  scheduler.js
  script.js
Labels: site, a11y

test: verify Brotli serving
  compression.test.js
  package.json
  precompress.js
  server.js
Labels: none

feat: add definition API with CORS and rate limiting
  README.md
  app/api/definitions/[slug]/route.ts
  package-lock.json
  package.json
Labels: none
