Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Add animated scrollbar ticks with reduced motion support
  index.html
  script.js
  styles.css
Labels: site, a11y

Add OffscreenCanvas worker demo with fallback
  assets/js/canvas-demo.js
  assets/js/canvas-worker.js
  canvas.html
Labels: none

Add avatar morphing component
  assets/avatar-morphs.json
  assets/js/avatar-demo.js
  assets/js/avatar-morph.js
  index.html
  styles.css
Labels: site, a11y

test: validate color token variants
  assets/css/style.css
  package.json
  tokens.test.js
Labels: none

Adapt skeleton loading based on cache
  index.html
  script.js
  styles.css
  sw.js
Labels: site, a11y

feat: track and report fps metrics
  assets/js/diagnostics.js
  assets/js/metrics.js
  diagnostics.html
Labels: none

Add ShortcutCheatsheet overlay component
  src/components/ShortcutCheatsheet.tsx
Labels: none

feat: add command palette component
  src/components/CommandPalette.tsx
Labels: none

Add QuickJumpPopover component for keyboard heading navigation
  src/components/QuickJumpPopover.tsx
Labels: none

feat: add island entry and dark mode module
  assets/js/dark-mode.js
  assets/js/dictionary.js
  assets/js/islands.js
  hydration-profile.md
  index.html
  layout.html
  package.json
  script.js
  sw.js
Labels: site, a11y

Add adjustable reading controls
  src/components/ReadingControls.tsx
Labels: none

feat(search): add saved searches
  assets/js/saved-searches.js
  assets/js/search.js
  search.html
  src/features/search/savedSearches.js
  styles.css
Labels: site

feat: add collections feature with shareable URLs
  collections/index.html
  index.html
  src/features/collections/index.js
  styles.css
Labels: site, a11y

feat: add color blind palette component
  src/settings/ColorBlindPalette.tsx
Labels: none

Add full-screen reader mode
  script.js
  styles.css
Labels: site

feat: add focus spotlight overlay
  src/components/FocusSpotlight.tsx
Labels: none

feat: add export dialog with preview and theme support
  package-lock.json
  package.json
  src/features/export/ExportDialog.tsx
Labels: none

feat: add interactive diagram viewer
  package-lock.json
  package.json
  src/components/DiagramViewer.tsx
Labels: none

feat: add regex sandbox playground
  src/playgrounds/regex/RegexSandbox.tsx
Labels: none

feat(search): add speech recognition
  src/features/search/SearchBar.tsx
Labels: none

Add Web Crypto hashing playground
  src/playgrounds/crypto/index.html
  src/playgrounds/crypto/script.js
  src/playgrounds/crypto/styles.css
Labels: none

feat: add security headers composer
  src/tools/SecurityHeadersComposer.tsx
Labels: none

feat(notes): add passphrase-based encryption
  src/features/notes/Encryption.ts
Labels: none

Add TextReader component with Web Speech API controls
  src/features/tts/TextReader.tsx
  styles.css
Labels: site

feat: add notes store and search integration
  assets/js/notes-store.js
  assets/js/search.js
  index.html
  layout.html
  script.js
  search.html
  src/features/notes/NotesStore.ts
Labels: site, a11y

Add export/import utilities and settings UI
  assets/js/exportImport.js
  assets/js/settings.js
  index.html
  settings.html
  src/utils/exportImport.ts
Labels: site, a11y

Add guided tour with react-joyride
  index.html
  package-lock.json
  package.json
  script.js
  src/features/tour/GuidedTour.tsx
Labels: site, a11y

feat: add onboarding checklist
  src/features/onboarding/Checklist.tsx
Labels: none

Add print stylesheet and table of contents for printing
  index.html
  layout.html
  script.js
  src/styles/print.css
Labels: site, a11y

feat: add text highlight system
  index.html
  src/features/highlights/highlightManager.js
  styles.css
Labels: site, a11y

feat: add alphabet grid component
  src/components/AlphabetGrid.tsx
Labels: none

feat: add swipe navigation for terms
  script.js
Labels: site

feat: add pull quote generator
  src/tools/PullQuoteGenerator.tsx
Labels: none

feat: add sort toolbar component
  src/components/SortToolbar.tsx
Labels: none

feat: add text highlight system
  index.html
  src/features/highlights/highlightManager.js
  styles.css
Labels: site, a11y

feat: add collection caching with service worker
  assets/js/app.js
  index.html
  script.js
  src/service-worker.js
  sw.js
Labels: site, a11y

feat: preview terms on clipboard copy
  script.js
  src/components/ClipboardPreview.tsx
Labels: site

feat: add pro mode toggle
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add error boundary with state restore
  assets/js/errorBoundary.js
  diagnostics.html
  index.html
  layout.html
  search.html
  styles.css
Labels: site, a11y

Add settings reset with undo
  index.html
  script.js
  styles.css
Labels: site, a11y
