Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Add reading queue with persistent storage
  index.html
  script.js
  src/features/queue/ReadingQueue.ts
Labels: site, a11y

feat: add motion level settings
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Reduce animations on high refresh displays
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add motion level settings
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: linkable text selections
  script.js
  styles.css
Labels: site

Add global g-key shortcuts
  CHEATSHEET.md
  script.js
Labels: site

feat: add link preview on hover with caching
  assets/js/link-preview.js
  index.html
  search.html
  src/components/LinkPreviewCard.tsx
  styles.css
  templates/layout.html
Labels: site, a11y

feat: add highlights drawer component
  src/features/highlights/HighlightsDrawer.tsx
Labels: none

feat: smooth scroll and highlight hash targets
  script.js
  styles.css
Labels: site

feat: add multi-column view toggle
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

feat: add accessible abbreviation expansion
  script.js
  styles.css
Labels: site

feat: add citation builder
  src/tools/CitationBuilder.ts
Labels: none

feat: add copy preset selector
  script.js
  src/components/CopyPresetSelect.tsx
Labels: site

feat: add basic undo manager
  src/features/history/UndoManager.ts
Labels: none

feat: add accessible on-screen keyboard
  assets/js/search.js
  search.html
  styles.css
Labels: site

Add interactive diagram pins with legend
  assets/js/diagram-pins.js
  styles.css
  templates/diagram-demo.html
Labels: site, a11y

Show shortcut hints on Alt key
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add interactive standards table component
  src/components/StandardsTable.tsx
Labels: none

feat: add chip-based advanced search
  script.js
  search.html
  styles.css
Labels: site

feat: add search tokenizer and help popover
  script.js
  styles.css
Labels: site

Add side shelf with pinned term management
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add tabbed senses for multi-definition terms
  script.js
Labels: site

feat: add keyboard navigation for results
  script.js
Labels: site

Add autoscroll controls with speed settings
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Add scroll progress bar with section navigation
  script.js
  styles.css
Labels: site

Add read time badges for term definitions
  script.js
  styles.css
Labels: site

feat: add document minimap component
  src/components/Minimap.tsx
Labels: none

Add IPA pronunciation toggle with persistence
  data/terms.yaml
  index.html
  script.js
  styles.css
  terms.json
Labels: content, site, a11y

Add IPA pronunciation toggle with persistence
  data/terms.yaml
  index.html
  script.js
  styles.css
  terms.json
Labels: content, site, a11y

Add long-press term preview modal
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y

Add audio player with loop markers and caching
  assets/js/audio-player.js
  index.html
  layout.html
  sw.js
  templates/layout.html
Labels: site, a11y

Add spaced repetition review system
  assets/js/review.js
  package.json
  review.html
  sw.js
Labels: site

Add quiz page and client-side logic for questions and scoring
  index.html
  quiz.html
  quiz.js
  styles.css
Labels: site, a11y

Add offline reminders with silence option
  index.html
  script.js
  sw.js
Labels: site, a11y

Add flashcard view with touch and keyboard interactions
  flashcards.html
  flashcards.js
  package.json
  styles.css
Labels: site

Add TF-IDF based related term suggestions
  package.json
  script.js
  scripts/precompute-tfidf.js
  styles.css
  tfidf.json
Labels: site

feat: add cloze creation with review queue
  index.html
  script.js
Labels: site, a11y

Add standards data?
  assets/js/timeline.js
  index.html
  standards.json
  styles.css
Labels: site, a11y

Add TLS handshake stepper
  handshake.html
  handshake.js
  styles.css
Labels: site

Add JWT decoder page with Web Crypto verification
  assets/js/jwt.js
  jwt.html
  styles.css
Labels: site
