Repository Alex-Unnippillil/CyberSecuirtyDictionary, changes with the labels that .github/labeler.yml gives for each.
All labels: content, site, i18n, a11y

.github/labeler.yml:

content:
  - 'terms.json'
  - 'data/**'
site:
  - 'index.html'
  - 'search.html'
  - 'layout.html'
  - 'templates/**'
  - 'styles.css'
  - 'script.js'
  - 'build.js'
  - 'build.sh'
  - 'site.config.json'
  - 'sw.js'
i18n:
  - 'i18n/**'
a11y:
  - 'templates/**'
  - 'index.html'
  - 'layout.html'

Highlight matches in API results
  assets/js/search.js
Labels: none

feat: add voice search support
  assets/js/search.js
  index.html
  layout.html
  script.js
  search.html
Labels: site, a11y

feat: add saved search pinning and sharing
  assets/js/profile.js
  assets/js/search.js
  package-lock.json
  package.json
  profile.html
  saved-searches.json
  search.html
  server.js
Labels: site

feat: add dynamic entry route
  pages/[slug].tsx
Labels: none

feat: add shortcut modal and docs
  README.md
  components/ShortcutModal.tsx
Labels: none

Add pronunciation player component with waveform and rate control
  components/PronunciationPlayer.tsx
  package-lock.json
  package.json
Labels: none

Add accordion for homograph senses with URL persistence
  script.js
  styles.css
Labels: site

feat: add POS tabs to definitions
  script.js
  styles.css
  terms.json
Labels: content, site

Add label chips with metadata tooltips
  labels.json
  script.js
  styles.css
  terms.json
Labels: content, site

Add collocation patterns viewer
  assets/js/collocations.js
  collocations.html
  styles.css
Labels: site

feat: add etymology timeline
  script.js
  styles.css
  terms.json
Labels: content, site

feat: add affix navigation chips
  script.js
  styles.css
Labels: site

Add rhyming word lookup with exact/near toggle
  script.js
Labels: site

feat: add anagram search panel
  assets/js/anagrams.js
  package.json
  search.html
  server.js
  styles.css
Labels: site

Link phrase terms with preview chips
  script.js
  styles.css
Labels: site

Add quotes carousel
  index.html
  script.js
  styles.css
Labels: site, a11y

feat: add translation accordions
  script.js
  styles.css
  translations/es.json
  translations/fr.json
Labels: site

Add sparkline chart for historical frequency
  assets/js/frequency.js
  diagnostics.html
  frequency.json
Labels: none

feat: add register filter
  index.html
  script.js
  terms.json
Labels: content, site, a11y

feat: add regional pronunciation buttons
  script.js
  styles.css
Labels: site

Add region-based filtering for examples and spellings
  index.html
  script.js
  styles.css
  terms.json
Labels: content, site, a11y

Fix order of generated forms table
  data/terms.yaml
  script.js
  styles.css
  terms.json
Labels: content, site

feat: add word of day component
  components/WordOfDay.tsx
Labels: none

Add deck button for headwords
  script.js
  styles.css
Labels: site

feat: add study page with scheduling API
  assets/js/study.js
  package.json
  study.html
  styles.css
Labels: site

Add audio headword quiz
  assets/js/audio-quiz.js
  audio-quiz.html
Labels: none

Add interactive quiz for cybersecurity terms
  assets/js/quiz.js
  index.html
  package.json
  quiz.html
  styles.css
Labels: site, a11y

add profile page for streaks and badges
  index.html
  profile.html
  profile.js
  script.js
Labels: site, a11y

Add pronunciation practice with near-sounding pairs
  assets/js/pairs.js
  index.html
  pairs.html
  pairs.json
  styles.css
Labels: site, a11y

Add client-side syllabifier tool
  assets/js/syllabifier.js
  index.html
  package.json
  syllabifier.html
Labels: site, a11y

feat: add breadcrumb navigation
  build.js
  styles.css
Labels: site

feat: add sticky letter navigation
  script.js
  styles.css
Labels: site

Add dynamic related suggestions side panel
  index.html
  script.js
  styles.css
Labels: site, a11y

Add navigation to lexicographic neighbors
  script.js
  styles.css
Labels: site

feat: track viewed headwords
  index.html
  script.js
  styles.css
Labels: site, a11y

Add compare route for side-by-side term viewing
  assets/js/compare.js
  compare.html
  package.json
  styles.css
Labels: site

feat: add cross-ref hover previews
  script.js
  styles.css
  terms.json
Labels: content, site

Add topic page with related term tile grid
  topics/[slug].tsx
Labels: none

Add topic page with related term tile grid
  topics/[slug].tsx
Labels: none

Add random entry fetch button with animation
  index.html
  layout.html
  script.js
  styles.css
Labels: site, a11y
